@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
}

.titulo {
  background: #392269;
}

.titulo img {
  width: 100px;
  padding: 10px;
  margin-left: 50px;
}

.curso {
  width: 800px;
  margin: 40px auto;
  padding: 20px 50px;
  border: 3px solid #DFDDEC;
  border-radius: 20px;
  background: #eae7ff;
}